<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="EstraIME Alpha" Language="1033" Version="0.1.0.0" Manufacturer="EstraIME" UpgradeCode="20F167E6-26C0-42F9-84B8-A382071DAB30">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate />
    <Feature Id="MainFeature" Title="EstraIME Alpha" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="EstraIME" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO(installer/wix/Product.wxs): add DLL, sidecar, settings app, data files and registration custom actions. -->
    </ComponentGroup>
  </Fragment>
</Wix>
